body{
	background-image: url("../img/fondo.jpg");
	opacity: 0.95;
}

#t{
	text-align: center;
}

#btn-gob{
	position: fixed;
	left: 10px;
}

#btn-pres{
	position: fixed;
	right: 10px;
}

#irr{
	text-align: center;
}

#siguiente-seccion{
	float: center;
}

#Pres{
	float: right;
}

#Gobs{
	float: left;
} 

/*
#last{
	background-color : blue;
}

#quote{
	text-align: center;
	color: white;
}*/


