/*table { border-collapse: collapse;}

	caption { background: #D3D3D3; }

	th {
		background: #A7C942;
		border: 1px solid #98BF21;
		color: #ffffff;
		font-weight: bold;
		text-align: left;
	}

	td {
		border: 1px solid #98BF21;
		text-align: left;
		font-weight: normal;
		color: #000000;
	}

	tr:nth-child(odd) { background: #ffffff; }

	tbody tr:nth-child(odd) th {
		background: #ffffff;
		color: #000000;
	}

	tr:nth-child(even) { background: #EAF2D3; }

	tbody tr:nth-child(even) th {
		background: #EAF2D3;
		color: #000000;
	}*/


	#target {
		width: 600px;
		height: 600px;
	}

	#target2 {
		width: 600px;
		height: 600px;
	}

.caption {
	display: block;
	text-align: center;
	font-weight: bold;
	height: 40px;
}

.graph {
	position: relative;
	float: right;
	/*height: 50%;*/
}

.graph ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.legend {
   background: #f0f0f0;
   border-radius: 4px;
   bottom: 0;
   position: relative;
   text-align: left;
   width: 100%;
   /*height:100%;*/
}

.legend li {
   display: block;
   /*float: left;*/
   /*height: 50px;*/
   margin: 0;
   padding: 10px 20px;
}

.legend span.icon {
   background-position: 50% 0;
   border-radius: 2px;
   display: block;
   float: left;
   height: 16px;
   margin: 2px 10px 0 0;
   width: 16px;
}

.x-axis {
   bottom: 0;
   color: #555;
   position: absolute;
   text-align: center;
   z-index: 1;
}

.x-axis li {
   float: left;
   margin: 0 10px;
   
}

.y-axis {
   color: #555;
   position: absolute;
   text-align: left;
   z-index: 1;
}

.y-axis ul {
	padding: 0px;
	margin: 0px;
}

.y-axis li {
   border-top: 1px solid #ccc;
   display: block;
}

.y-axis li span {
   display: block;
   position: relative;
   text-align: right;
}

.bars {
	position: absolute;
	width: 100%;
	z-index: 10;
}
.bar-group {
	float: left;
	height: 100%;
	position: relative;
	margin: 0 10px;
}
.bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	position: absolute;
	text-align: center;
	#cursor: pointer;
	display: block;
}

.bar span {
	margin-top: -25px;
	*zoom: 1;
	display: none;
	position: relative;
}

.item-0 {
	background: #d0e4f7; /* Old browsers */
	background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
	background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}

.item-1 {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

}

.item-2 {
	background: #f1e767; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1e767 0%, #f9fc46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#f9fc46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1e767 0%,#f9fc46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1e767 0%,#f9fc46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1e767 0%,#f9fc46 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1e767 0%,#f9fc46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f9fc46',GradientType=0 ); /* IE6-9 */

}

.item-3 {
	background: #febf01; /* Old browsers */
	background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #febf01 0%,#febf01 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */

}

.item-4 {
	background: #f0b7a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0b7a1 0%, #9b3412 50%, #a01e01 63%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#9b3412), color-stop(63%,#a01e01), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0b7a1 0%,#9b3412 50%,#a01e01 63%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0b7a1 0%,#9b3412 50%,#a01e01 63%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0b7a1 0%,#9b3412 50%,#a01e01 63%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0b7a1 0%,#9b3412 50%,#a01e01 63%,#bf6e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}

.item-5 {
	background: #e570e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e570e7 0%, #7f13f2 0%, #9958b7 100%, #a849a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(0%,#7f13f2), color-stop(100%,#9958b7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e570e7 0%,#7f13f2 0%,#9958b7 100%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e570e7 0%,#7f13f2 0%,#9958b7 100%,#a849a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e570e7 0%,#7f13f2 0%,#9958b7 100%,#a849a3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e570e7 0%,#7f13f2 0%,#9958b7 100%,#a849a3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */


}

.item-6 {
	background: #cb60b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */


}

.item-7 {
	background: #ff4530; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff4530 0%, #ff7e70 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4530), color-stop(100%,#ff7e70)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff4530 0%,#ff7e70 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff4530 0%,#ff7e70 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff4530 0%,#ff7e70 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff4530 0%,#ff7e70 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4530', endColorstr='#ff7e70',GradientType=0 ); /* IE6-9 */

}